@inject IJSRuntime JSRuntime

<div>
    <canvas @ref="canvas" title="@Title"></canvas>
</div>

@code {
    private ElementReference canvas;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public LineGraph Data { get; set; }

    private async void CreateGraph()
    {
        if (Data is null) return;

        var module = await JSRuntime.InvokeAsync<IJSObjectReference>(
        "import", "./js/chart-companion.js"
    );

        await module.InvokeVoidAsync("createGraph", canvas, Data);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            CreateGraph();
        }
    }
}
